<div class="titlecard_items">
	<section class="card_intro">
		<img class="card_intro_item intro_img" src="{{ page.intro_image }}" alt="{{ page.intro_alt }}"> 
		<h1 class="card_intro_item intro_title">{{ page.intro_text1 }}</h1>
		<p class="card_intro_item intro_stage_1">{{ page.intro_text2 }}</p>
		<p class="card_intro_item intro_stage_2">{{ page.intro_text3 }}</p>
		<button type="button" class="card_intro_item home_scroll_button" aria-hidden="true"><i class="fa-solid fa-sort-down" aria-hidden="true"></i></button>
	</section>
	
	<section class="card_programmer">
		<div class="card_programmer_right">
			<div class="card_programmer_left">
				<h1>{{ page.programming_text1 }}</h1>
				<p>{{ page.programming_text2 }}</p>
				<p>{{ page.programming_text3 }}</p>
				<p>{{ page.programming_text4 }}</p>
				{% if page.programming_button %}
				<div class="card_programmer_left_button">
					<button class="card_button">{{ page.programming_button_text }}</button>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
	
	<section class="card_indie">
		<div class="card_indie_left">
			<div class="card_indie_right">
				<h1>{{ page.indie_text1 }}</h1>
				<p>{{ page.indie_text2 }}</p>
				<p>{{ page.indie_text3 }}</p>
				<p>{{ page.indie_text4 }}</p>
				{% if page.indie_button %}
				<div class="card_programmer_left_button">
					<button class="card_button">{{ page.indie_button_text }}</button>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
	
	<section class="card_art">
		<div class="card_art_right">
			<div class="card_art_left">
				<h1>{{ page.art_text1 }}</h1>
				<p>{{ page.art_text2 }}</p>
				<p>{{ page.art_text3 }}</p>
				<p>{{ page.art_text4 }}</p>
				{% if page.art_button %}
				<div class="card_art_left_button">
					<button class="card_button">{{ page.art_button_text }}</button>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
	
	<section class="card_youtube">
		<div class="card_youtube_left">
			<div class="card_youtube_right">
				<h1>{{ page.youtube_text1 }}</h1>
				<p>{{ page.youtube_text2 }}</p>
				<p>{{ page.youtube_text3 }}</p>
				<p>{{ page.youtube_text4 }}</p>
				{% if page.youtube_button %}
				<div class="card_youtube_left_button">
					<button class="card_button">{{ page.youtube_button_text }}</button>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
	
	<section class="card_contact">
		<div class="card_contact_left">
			<h1>Like what you see?</h1>
			<p>Let's get in contact and see what else I can do.</p>
		</div>
		<div class="card_contact_right">
		<form action="action_page.php">

			<label for="name">Name</label>
			<input type="text" id="name" name="name">

			<label for="email">Email</label>
			<input type="text" id="email" name="email">

			<label for="subject">Message</label>
			<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

			<input type="submit" value="Submit">

		</form>
		</div>
	</section>
</div>
